@model HomeViewModel

@await Html.PartialAsync("_Carousel")

<h3>Os preferidos da semana</h3>


<div>
    @foreach (var lanche in Model.LanchesPreferidos)
    {
        @Html.Partial("_LancheResumo", lanche)
    }

</div>